* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'public sans', sans-serif;
}

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  --Mobile-Container-padding: 1.5rem;
  font-size: 16px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--Dark-Blue);
  font-size: 1em;
  font-weight: 500;
}

a:hover {
  color: var(--Bright-Cyan);
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  color: var(--Dark-Blue);
}

.medium-heading {
  font-size: 2em;
  font-weight: 600;
  color: var(--Dark-Blue);
}

.small-heading {
  font-size: 1.1em;
  color: var(--Dark-Blue);
  font-weight: 800;
}
p {
  color: var(--Grayish-Blue);
  font-weight: 600;
  font-size: 0.95em;
  line-height: 1.6;
}

button {
  padding: 0.8rem 2.2rem;
  width: fit-content;
  margin: auto;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green) 20%,
    var(--Bright-Cyan)
  );
  color: var(--White);
  font-size: 0.9em;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  box-shadow: 2px 2px 5px var(--Grayish-Blue);
  padding: 0.8rem 2.2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
}

nav {
  position: fixed;
  height: 100vh;
  left: 0;
  background-color: #00000023;
  width: 100%;
  top: 4.5rem;
  padding: var(--Mobile-Container-padding);
  margin: auto;
  transition: 0.5s;
  transform: translateX(100vw);
  transition: 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.nav-content {
  display: flex;
  flex-direction: column;
  background-color: var(--Very-Light-Gray);
  border-radius: 0.5rem;
  padding: 2rem;
  gap: 1.5rem;
  align-items: center;
}

nav.active {
  transform: translateX(0);
}

.open {
  height: 1.1rem;
  width: 1.2rem;
  display: none;
  cursor: pointer;
}

.open.active {
  display: block;
}

.close {
  display: none;
  cursor: pointer;
}

.close.active {
  display: block;
}

header button {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;

  background-color: #e9e9e944;
  padding-bottom: 4rem;
}

.hero-img-container {
  background-image: url('images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.hero-img {
  width: 90%;
  max-width: 500px;
  margin: auto;
  display: block;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: var(--Mobile-Container-padding);
  text-align: center;
}

.hero-text p {
  max-width: 350px;
  margin: auto;
}

.about {
  padding: 5rem var(--Mobile-Container-padding);
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  text-align: center;
  gap: 2rem;
}

.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-intro p {
  max-width: 400px;
}
.about-tabs {
  gap: 2rem;
}

.about-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 1rem;
}

.latest-articles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem var(--Mobile-Container-padding);
  background-color: #f9f9f9;
}

.latest-articles h2 {
  margin: auto;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  /* align-items: center; */
}

.article-tab {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 300px;
}

.article-tab:hover {
  box-shadow: 2px 2px 5px rgb(235, 234, 234);
}

.article-tab img {
  height: 12rem;
}

.article-tab-text {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-tab-text p:nth-child(3) {
  font-size: 0.8em;
  line-height: 1.4;
  font-weight: 600;
}

.small-para {
  font-size: 0.6em;
}

footer {
  padding: 5rem var(--Mobile-Container-padding);
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.logo-and-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-links-1,
.footer-links-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-links a {
  color: var(--Light-Grayish-Blue);
}

.footer-links a:hover {
  color: var(--Bright-Cyan);
}

.cta-and-copyright {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 768px) {
  :root {
    --Mobile-Container-padding: 2rem;
  }

  header {
    padding: 2rem 4rem;
  }
  .about-intro {
    align-items: baseline;
    text-align: left;
    padding: var(--Mobile-Container-padding);
  }

  .about-tabs {
    padding: var(--Mobile-Container-padding);
    justify-content: space-between;
  }

  .about-tab {
    align-items: baseline;
    text-align: left;
  }

  .latest-articles h2 {
    margin: 0;
    padding: 0 var(--Mobile-Container-padding) 2rem;
  }

  .articles {
    justify-content: space-between;
    padding: var(--Mobile-Container-padding);
  }
}

@media (min-width: 1024px) {
  :root {
    --Mobile-Container-padding: 2.5rem;
    font-size: 18px;
  }

  h1 {
    font-size: 2.8em;
    font-weight: 500;
  }

  .menu-icons {
    display: none;
  }

  header {
    justify-content: space-between;
  }

  nav {
    position: relative;
    height: fit-content;
    transform: translateX(0);
    padding: 0;
    top: 0;
    width: fit-content;
    background-color: transparent;
  }

  .nav-content {
    flex-direction: row;
    padding: 0;
    background-color: transparent;
  }

  header button {
    display: block;
    margin: 0;
  }

  .hero {
    flex-direction: row-reverse;
    padding: 0 0 0 var(--Mobile-Container-padding);
    align-items: center;
    margin-top: 5rem;
  }

  .hero-text {
    align-items: baseline;
    text-align: left;
    padding: 0;
    flex-basis: auto;
    flex-basis: 40%;
  }

  .hero-text p,
  .hero-text button {
    margin-left: 0;
  }

  .hero-img-container {
    background-image: url('images/bg-intro-desktop.svg');
    height: 28rem;
    flex-basis: 60%;
    /* width: 100vw; */
    background-position: 2rem -6rem;
    background-size: 120%;
    /* background-color: blue; */
    position: relative;
  }

  .hero-img {
    position: absolute;
    right: -3rem;
    top: -1rem;
  }

  .about {
    padding: 5rem 0 5rem 0;
  }

  .about-intro {
    padding-top: 0;
  }

  .about-tabs {
    padding: 0 var(--Mobile-Container-padding);
  }

  .about-tab {
    max-width: 250px;
  }

  .latest-articles {
    padding: 5rem 0;
  }

  .article-tab {
    max-width: 250px;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-links {
    flex-direction: row;
  }

  .footer-links-1,
  .footer-links-2 {
    align-items: baseline;
  }
}

@media (min-width: 1280px) {
  :root {
    --Mobile-Container-padding: 5rem;
  }

  .hero {
    padding: 0 0 0 var(--Mobile-Container-padding);
    margin-top: 4rem;
  }
  .hero-img {
    max-width: 600px;
    top: -5rem;
  }
}
